body {
    padding-top: 65px;
    padding-bottom: 50px;
    background: white;
    color: darkgray;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
    background: rgba(20, 20, 20, 0.8);
    color: #f0f0f0;
}

h1 {
    color: darkgray;
}

img {border:0;}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.nav a{
    color: lightgray;
    font-size: 1.4em !important;
}
.nav li{
    padding-right:5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #090909;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-size: cover;
    height: 100%;
    width: 100%;

    -webkit-filter: blur(30px) brightness(50%);
    -moz-filter: blur(30px) brightness(50%);
    -o-filter: blur(30px) brightness(50%);
    -ms-filter: blur(30px) brightness(50%);
    filter: blur(30px) brightness(50%);
}


.volume {
    position: fixed;
    left:50%;
    transform: translate(-50%, 45px);
    background-color: #090909;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    max-width:400px; 
    min-width:200px; 
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 7px;
}

.progress-bar-even {
      background-color: #818181 !important;
}
.progress-bar-odd {
      background-color: #5e5e5e !important;
}

.selected {
    background-color: rgba(20, 20, 20, 0.75);
    color: #0CE3A2;
}

.playThis:hover {
    color: #0CE3AC;
}

.playPauseFrame {
    float: left;
    width:20px;
    margin-left: 5px;
}

.albumFrame {
    border-style:none;
    margin-bottom: 5px;
}

.plAlbumFrame{
    float: top;
    border-style:none;
    margin-bottom: 5px;
}

.albumTitlesFrame {
    float: left;
}

.albumCollection {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.Folder {
    width:298px;
    height:298px;
    border-style:none;
    background-image:url("../img/cd.svg"); 
    background-color: white;
}
.SmallFolder {
    width:128px;
    height:128px;
    border-style:none;
    background-image:url("../img/cd.svg"); 
}

.FolderLegend {
    width:298px;
    border-style:none;
}

.AlbumName{
    width:298px;
    height:40px;
    color: #222222;
    line-height: 18px;
    max-height: 36px;
    overflow: hidden;
    white-space: normal;
    font-size: 20px;
    margin-bottom: 0px;
}

.SmallAlbumName{
    width:128px;
    height:22px;
    color: #222222;
    line-height: 18px;
    max-height: 36px;
    overflow: hidden;
    white-space: normal;
    font-size: 10px;
    margin-bottom: 0px;
}

.ArtistName{
    width:298px;
    height:40px;
    color: #444444;
    line-height: 18px;
    margin-bottom: 0px;
    max-height: 35px;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
}

.SmallArtistName{
    width:128px;
    height:20px;
    color: #444444;
    line-height: 18px;
    margin-bottom: 0px;
    max-height: 35px;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
}

.trackNb {
    width:50px;
    font-style: bold;
    overflow: hidden;
    font-size: 10px;
    display: table-cell;
}
.trackTime{
    width:40px;
    margin-left: 2px;
    margin-right: 2px;
    overflow: hidden;
    font-size: 10px;
    display: table-cell;
}

.TitleName{
    line-height: 18px;
    margin-bottom: 2px;
    margin-left: 4px;
    max-height: 35px;
    overflow: hidden;
    font-size: 10px;
    display: table-cell;
}

.BadgesBox{
    color: #353A50;
    width:298px;
    line-height: 18px;
    max-height: 35px;
    overflow: hidden;
    font-size: 12px;
    padding: 3px;
}

.trackList {
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 2px;
    border-style: solid;
    border-color: lightgray;
    border-width: 0px 0px 1px 0px;
}

.playing{
    background-color: #bbd5b6!important;
}
.played{
/*    border-style: solid;
    border-color: lightgray;
*/    /*border-width: 0px 6px 0px 0px;*/
}
.notPlayed{
    background-color: white;    
}

.popUp {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin:auto; 
    overflow:auto;
    position: fixed;
    top: 45px;
    bottom: 59px;
    left: 0px;
    width: 100%;
    background: white;
    padding: 5px;
    padding-top: 10px;
}

.albumDetails {
    z-index:10;
}

.playlistFrame{
    z-index:4;
}

/*.anim{
  -webkit-transition: box-shadow 0.6s ease-in-out;
  -moz-transition: box-shadow 0.6s ease-in-out;
  -o-transition: box-shadow 0.6s ease-in-out;
  -ms-transition: box-shadow 0.6s ease-in-out;
  transition: box-shadow 0.6s ease-in-out;
}
*/
.FooterTitleName {
    overflow: hidden;
    height: 20px;
}
.FooterFolder {
    position: fixed;
    z-index: 5;
    background-image:url("../img/cd.svg");
    background-color:lightgray;
}

.thinking {
    z-index: 10;
}

.FooterFolderGhost {
    position: fixed;
    z-index: 6;
    bottom: 10px;
    right: 0px;
    width: 40px;
    height: 40px;
}

.plBar {
    position: fixed;
    height: 9px;
    bottom: 50px;
    left: 0px;
    width: 100%;
    overflow:hidden;
}

/*.trackEven { background-color: #ab4444 }
.trackOdd  { background-color: #5f2424 }
.albumEven { border-bottom-style: solid; border-bottom-color: #6666ba }
.albumOdd  { border-bottom-style: solid; border-bottom-color: #27274a }
*/

.trackOddalbumEven { background-color: #ab4444 }
.trackEvenalbumEven  { background-color: #5f2424 }
.trackOddalbumOdd { background-color: #6666ba }
.trackEvenalbumOdd  { background-color: #27274a }

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}

.buttonBox {
    position: fixed;
    color: white;
    right: 40px;
    bottom: 15px;
    height: 40px;
    z-index: 4;
    font-size: 40px;
}

.ctrlButton {
    float:left;
    margin-right: 7;
    opacity: 0.25;
    width:40px;
    height:40px;
    padding: 5px;
}

